.user-quotes {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.quote-input-container {
  display: flex;
  margin-bottom: 10px;
}
.heading-text{
  color: #6E0028;
}
.heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-style{
  cursor: pointer;
}
.icon-container{
  position: relative;
  display: inline-block;
}

.text-on-hover{
  visibility: hidden;
  background-color: #F8E8EE;
  color: #6E0028;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px ;
  position: absolute;
  z-index: 1;
  top: 10%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(30%);
  transition: opacity 0.3s;
  width: 100px;
  font-size: small;
}

.icon-container:hover .text-on-hover {
  visibility: visible;
  opacity: 1;
}


.user-quote-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  top: 178px;
  left: 399px;
  border-radius: 29px;
  background-color: #F8E8EE;
  padding: 20px;
  margin: 30px;
}




.quote-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 700px;
  top: 178px;
  left: 399px;
  margin: 30px;

}

.save-button {
  padding: 10px 20px;
  border: none;
  background-color: #6E0028;
  color: white;
  border-radius: 20px;
  margin: 30px;
  cursor: pointer;
}

.save-button:hover {
  background-color:#6e374b;

}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.quote-list {
  list-style-type: circle;
  padding: 5px;
}

.quote-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
